<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'volunteer')}">

<body>

<h2>Volunteer Registration Form</h2>
<form th:object="${vehicle}" class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Name', 'volunteerName')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Registration Date', 'registrationDate')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer CNIC', 'volunteerCnic')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Address', 'residentialAddress')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Email Address', 'emailAdddress')}"/>
    <input
        th:replace="~{fragments/dateField :: input ('Home Phone', 'homePhone')}"/>
    <input
        th:replace="~{fragments/dateField :: input ('Cell Phone', 'cellPhone')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Jamatkhana', 'jamatKhanna')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Institution', 'institution')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Age', 'age')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Duty Day', 'dutyDay')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Duty Shift', 'dutyShift')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Duty Zone', 'dutyZone')}"/>
    <!--<div class="form-group">-->
      <!--<label class="col-sm-2 control-label">Vehicle Category</label>-->
      <!--<div class="col-sm-10">-->
        <!--<select class="col-sm-12 form-control" th:field="*{category}">-->
          <!--<option th:each="cat : ${T(com.system.demo.vehicle.VehicleType).values()}"-->
                  <!--th:value="${cat}"-->
                  <!--th:text="${cat.getDisplayName()}"></option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
          th:with="text=${vehicle['new']} ? 'Add Volunteer' : 'Update Volunteer'"
          class="btn btn-default" type="submit" th:text="${text}">Add
        Vehicle
      </button>
      <a th:href="@{/volunteer}"><span class="btn btn-primary">Cancel</span></a>
    </div>
  </div>
</form>
</body>
</html>
