<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'volunteer')}">

<body>

<h2>Volunteer Registration Form</h2>
<form th:object="${vehicle}" class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Name', 'volunteerName')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer CNIC', 'volunteerCnic')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Address', 'residentialAddress')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Email Address', 'emailAdddress')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Home Phone', 'homePhone')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Cell Phone', 'cellPhone')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Jamatkhana', 'jamatKhanna')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Institution', 'institution')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Age', 'age')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Duty Day', 'dutyDay')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Duty Shift', 'dutyShift')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Duty Zone', 'dutyZone')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Local Council', 'localCouncil')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Site', 'volunteerSite')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Volunteer Committee', 'volunteerCommittee')}"/>

    <div class="row">
      <span class="col-sm-4 col-sm-offset-2">
        <video id="videoElement" muted="true" style="width: 320px; height: 240px;"></video>
      </span>
      <span class="col-sm-2">
        <span id="capture" class="btn btn-primary" onclick="hello()">Capture</span>
      </span>
      <span class="col-sm-4">
        <img id="my-screenshot" style="width: 320px; height: 240px;" th:src="'/volunteer/images/' + *{id}"/>
      </span>
    </div>
    <input id="image-blob" type="hidden" name="picture"/>
    <!--<div class="form-group">-->
    <!--<label class="col-sm-2 control-label">Vehicle Category</label>-->
    <!--<div class="col-sm-10">-->
    <!--<select class="col-sm-12 form-control" th:field="*{category}">-->
    <!--<option th:each="cat : ${T(com.system.demo.vehicle.VehicleType).values()}"-->
    <!--th:value="${cat}"-->
    <!--th:text="${cat.getDisplayName()}"></option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
          th:with="text=${vehicle['new']} ? 'Add Volunteer' : 'Update Volunteer'"
          class="btn btn-default" type="submit" th:text="${text}">Add
        Vehicle
      </button>
      <a th:href="@{/volunteer}"><span class="btn btn-primary">Cancel</span></a>
    </div>
  </div>
</form>
<script type="text/javascript" src="/resources/js/webly.js"></script>
<script type="text/javascript" src="/resources/js/capture-video-frame.js"></script>
<script type="text/javascript">

    function webcamInit() {
      window.webcam.init().then(function() {
        var videoElement = document.getElementById("videoElement");
        videoElement.src = window.webcam.videoStream;
        videoElement.play();
      }).catch(function(error){
        console.log(error);
      });
    }
    function hello() {
      var frame = captureVideoFrame('videoElement', 'png');

      // Show the image
      var img = document.getElementById('my-screenshot');
      img.setAttribute('src', frame.dataUri);

      var imageBlob = document.getElementById('image-blob');
      imageBlob.value = frame.dataUri;
      console.log(imageBlob);
    }

    webcamInit();

</script>
</body>
</html>
