<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'volunteer')}">

<body>

<h2>Volunteer Registration Form</h2>
<div th:class="((*{printableCount}>5) ? 'alert alert-danger' : 'alert alert-success')">
  Ready To Print: <span th:text="*{printableCount}"></span> AND Record with Validation Error:
  <span th:text="*{errorCount}"></span></div>
<form th:action="@{/volunteer/print}" method="post">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  <button class="btn btn-default" type="submit">Print All Cards</button>
</form>
<!--Volunteer Form-->
<form th:object="${vehicle}" class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">

    <!--Top Button Bar-->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
            th:with="text=${vehicle['new']} ? 'Add Volunteer' : 'Update Volunteer'"
            class="btn btn-default" type="submit" th:text="${text}">Add
          Vehicle
        </button>
        <a th:href="@{/volunteer}"><span class="btn btn-primary">Cancel</span></a>
        <button class="btn btn-danger" name="reset" type="reset">Reset</button>
      </div>
    </div>

    <!--Live Image Capture-->
    <div class="row form-group">
      <span class="col-sm-4 col-sm-offset-2">
        <video id="videoElement" muted="true" style="width: 320px; height: 240px;"></video>
      </span>
      <span class="col-sm-2">
        <span id="capture" class="btn btn-primary" onclick="hello()">Capture</span>
      </span>
      <div id="my-drop-zone" class="col-sm-4">
        <img id="my-screenshot" style="width: 320px; height: 240px;"
             th:src="'/volunteer/images/' + ((*{id})?*{id}:'')"/>
      </div>
    </div>

    <input id="image-blob" type="hidden" name="picture"/>

    <!--Actual Form-->
    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Volunteer Name *', 'volunteerName', 'true', '*')}"/>
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Volunteer CNIC *', 'volunteerCnic', 'true', '.{3,20}')}"/>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Volunteer Committee *</label>
      <div class="col-sm-4">
        <select class="col-sm-12 form-control" th:field="*{volunteerCommittee}">
          <option value="Darbar">Darbar</option>
          <option value="Security">Security</option>
        </select>
      </div>
      <label class="col-sm-2 control-label">Volunteer Site *</label>
      <div class="col-sm-4">
        <select class="col-sm-12 form-control" th:field="*{volunteerSite}">
          <option value="Booni">Booni</option>
          <option value="Tause">Tause</option>
          <option value="Aliabad" selected>Aliabad</option>
          <option value="Garam Chashma">Garam Chashma</option>
          <option value="Central">Central</option>
          <option value="Karachi">Karachi</option>
          <option value="Darkhana">Darkhana</option>
          <option value="Clifton">Clifton</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Local Council *', 'localCouncil', 'true', '*')}"/>
      <label class="col-sm-2 control-label">Duty Zone *</label>
      <div class="col-sm-4">
        <select class="col-sm-12 form-control" th:field="*{dutyZone}">
          <option value="Pandal">Pandal</option>
          <option value="Inner Cordon" selected>Inner Cordon</option>
          <option value="MHI entourage">MHI Entourage Stage</option>
          <option value="Main Gate">Main Gate</option>
          <option value="Outer Cordon">Outer Cordon</option>
          <option value="Sacrifice Duty">Sacrifice Duty</option>
          <option value="All Zone">All Access</option>
          <option value="Imamat Zone">Imamat Zone</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Cell Phone', 'cellPhone', 'false', '[0-9-]*')}"/>
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Home Phone', 'homePhone', 'false', '[0-9-]*+')}"/>
    </div>
    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Duty Shift', 'dutyShift', false, '[0-9,]*[0-9]|ALL')}"/>
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Duty Day', 'dutyDay', 'false', '[0-9]|ALL')}"/>
    </div>
    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Jamatkhana', 'jamatKhanna', 'false', '*')}"/>
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Institution', 'institution', 'false', '*')}"/>
    </div>

    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Volunteer Age', 'age', 'false', '*')}"/>
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Email Address', 'emailAdddress', false, '*')}"/>
    </div>
    <div class="form-group">
      <input
          th:replace="~{fragments/inputFieldShort :: input ('Address', 'residentialAddress', false, '*')}"/>
    </div>


    <!--<div class="form-group">-->
    <!--<label class="col-sm-2 control-label">Vehicle Category</label>-->
    <!--<div class="col-sm-10">-->
    <!--<select class="col-sm-12 form-control" th:field="*{category}">-->
    <!--<option th:each="cat : ${T(com.system.demo.vehicle.VehicleType).values()}"-->
    <!--th:value="${cat}"-->
    <!--th:text="${cat.getDisplayName()}"></option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
          th:with="text=${vehicle['new']} ? 'Add Volunteer' : 'Update Volunteer'"
          class="btn btn-default" type="submit" th:text="${text}">Add
        Vehicle
      </button>
      <a th:href="@{/volunteer}"><span class="btn btn-primary">Cancel</span></a>
    </div>
  </div>
</form>
<script type="text/javascript" src="/resources/js/webly.js"></script>
<script type="text/javascript" src="/resources/js/capture-video-frame.js"></script>
<script th:src="@{/webjars/dropzone/min/dropzone.min.js}"></script>
<script type="text/javascript" src="/resources/js/my-dropzone.js"></script>
<script type="text/javascript">

    /*Turns on Live Webcam*/
    function webcamInit() {
      window.webcam.init().then(function() {
        var videoElement = document.getElementById("videoElement");
        videoElement.src = window.webcam.videoStream;
        videoElement.play();
      }).catch(function(error){
        console.log(error);
      });
    }

    function hello() {
      var frame = captureVideoFrame('videoElement', 'png');

      // Show the image
      var img = document.getElementById('my-screenshot');
      img.setAttribute('src', frame.dataUri);

      var imageBlob = document.getElementById('image-blob');
      imageBlob.value = frame.dataUri;
      console.log(imageBlob);
    }

    webcamInit();
</script>
</body>
</html>
