<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'volunteer')}">

<body>

<h2>Volunteers</h2>
<div th:class="((*{printableCount}>5) ? 'alert alert-danger' : 'alert alert-success')">
  Ready To Print: <span th:text="*{printableCount}"></span> AND Record with Validation Error:
  <span th:text="*{errorCount}"></span></div>
<p th:if="${param.upload}" class="alert alert-primary">Your File is being processed, please refresh
  soon</p>
<span class="row">
  <form sec:authorize="hasAuthority('CARDISSUER')" th:if="*{count}>0" th:action="@{/volunteer/print}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button class="btn btn-default pull-right" type="submit"><span
        class="glyphicon glyphicon-print"></span>&nbsp;Print All Cards</button>
  </form>
  <a th:href="@{/volunteer/search}"><span class="btn btn-default pull-right"><span
      class="glyphicon glyphicon-search"></span>&nbsp;Search</span></a>
  <a sec:authorize="hasAuthority('FILE_UPLOAD')" th:href="@{/volunteer/file}"><span
      class="btn btn-default pull-right"><span class="glyphicon glyphicon-file"></span>&nbsp;Volunteers File Upload</span></a>
  <a th:href="@{/volunteer/new}"><span
      class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Volunteer</span></a>
</Span>
<table id="volunteers" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 50px;">Id</th>
    <!--<th style="width: 200px"><a class="sorted" sd:pagination-sort="formId">Form Id</a></th>-->
    <th style="width: 50px">Picture Available</th>
    <th style="width: 150px;"><a class="sorted" sd:pagination-sort="volunteerCnic">Volunteer
      Cnic</a></th>
    <th style="width: 200px;"><a class="sorted" sd:pagination-sort="volunteerName">Volunteer
      Name</a></th>
    <!--<th style="width: 120px;">Juridsdiction</a></th>-->
    <th style="width: 100px">Local Council</th>
    <th style="width: 100px">Committee</th>
    <th style="width: 100px">Duty Zone</th>
    <th style="width: 100px">Duty Site</th>
    <th style="width: 50px" sec:authorize="hasAuthority('AUTHORIZER')">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="volunteer : ${page}">
    <td th:text="${volunteer.id}"/>
    <td><span class="glyphicon glyphicon-ok text-success"
              th:if="${volunteer.isPictureAvailable()}"></span>
      <span class="glyphicon glyphicon-remove text-danger"
            th:unless="${volunteer.isPictureAvailable()}"></span>
    </td>
    <td th:text="${volunteer.volunteerCnic}"/>
    <td th:text="${volunteer.volunteerName}"/>
    <td th:text="${volunteer.localCouncil}"/>
    <td th:text="${volunteer.volunteerCommittee}"/>
    <td th:text="${volunteer.dutyZone}"/>
      <td th:text="${volunteer.volunteerSite}"/>
    <td class="row" sec:authorize="hasAuthority('AUTHORIZER')">
      <a th:href="@{/volunteer/edit/__${volunteer.id}__}"><span
          class="glyphicon glyphicon-pencil"></span></a>
      <a th:href="@{/volunteer/delete/__${volunteer.id}__}" sec:authorize="hasAuthority('ADMIN')"><span
          class="glyphicon glyphicon-remove danger"></span></a>
      <form id="unprint-form" th:if="${volunteer.volunteerIsPrinted}" class="form-inline"
            th:name="'myform' + ${volunteer.id}" method="post"
            th:action="@{/volunteer/unprint/__${volunteer.id}__}"
            sec:authorize="hasAuthority('ADMIN')">
        <span th:onclick="'document.forms[\'myform'+ ${volunteer.id} +'\'].submit();'"><span
            class="glyphicon glyphicon-refresh"></span></span>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <nav class="pull-right">
      <ul class="pagination" sd:pagination="full">
        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
        <li class="disabled"><a href="#" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-1 dropup pull-right" sd:page-size-selector="dropdown"></div>
</div>

</body>
</html>

