<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'volunteer')}">

<body>

<h2>Volunteers</h2>
<div style="margin-top: 20px;">

  <form th:object="${query}" class="container searchForm" id="Search" method="get">
    <div class="row">
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Volunteer-Name', 'name')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Volunteer CNIC', 'cnic')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Regional Council', 'regionalCouncil')}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Local Council', 'localCouncil')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Day', 'day')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Zone', 'zone')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Institution', 'institution')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Mobile Phone', 'mobile')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Jamatkhana', 'jamatkhana')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Shift', 'shift')}"/>
      </div>
      <div class="col-sm-4 mb-2">
        <input
            th:replace="~{fragments/searchField :: input ('Site', 'site')}"/>
      </div>
    </div>
    <div id="voltSearchRow" class="row">
      <div class="col-md-4 mb-2">
        <div class="col-sm-2">
          <button class="btn btn-default" type="submit"><span
              class="glyphicon glyphicon-search"></span>&nbsp;Search
          </button>
        </div>
      </div>
    </div>
  </form>

  <br/>
  <div class="alert alert-info" role="alert"><span
      th:text="'Total ' + ${total} + ' Records Found'"></span></div>

  <a th:href="@{/volunteer/search/export(name=${param.name},
      cnic=${param.cnic},
      regionalCouncil=${param.regionalCouncil},
      localCouncil=${param.localCouncil},
      day=${param.day},
      zone=${param.zone},
      institution=${param.institution},
      mobile=${param.mobile},
      jamatkhana=${param.jamatkhana},
      shift=${param.shift},
      site=${param.site}
    )}"><span class="btn btn-default btn-margin pull-right"><span
      class="glyphicon glyphicon-download"></span>&nbsp;Volunteers File Export</span></a>
  <form th:action="@{/volunteer/search/print(name=${param.name},
      cnic=${param.cnic},
      regionalCouncil=${param.regionalCouncil},
      localCouncil=${param.localCouncil},
      day=${param.day},
      zone=${param.zone},
      institution=${param.institution},
      mobile=${param.mobile},
      jamatkhana=${param.jamatkhana},
      shift=${param.shift},
      site=${param.site}
    )}" method="post" style="display: inline;">
    <!--<input type="hidden" name="name" th:value="${param.name}">-->
    <!--<input type="hidden" name="cnic" th:value="${param.cnic}">-->
    <!--<input type="hidden" name="regionalCouncil" th:value="${param.regionalCouncil}">-->
    <!--<input type="hidden" name="jamatkhana" th:value="${param.jamatkhana}">-->
    <!--<input type="hidden" name="day" th:value="${param.day}">-->
    <!--<input type="hidden" name="zone" th:value="${param.zone}">-->
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
    <button class="btn btn-default pull-right form-inline" type="submit"><span
        class="glyphicon glyphicon-print"></span>&nbsp;Print Searched Cards
    </button>
  </form>
  <a th:href="@{/volunteer/file}"><span class="btn btn-default btn-margin pull-right"><span
      class="glyphicon glyphicon-upload"></span>&nbsp;Volunteers File Upload</span></a>
</div>
<table id="volunteers" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 200px;">Volunteer Name</th>
    <th style="width: 50px">Picture Available</th>
    <th style="width: 100px">Volunteer CNIC</th>
    <th style="width: 100px">Local Council</th>
    <th style="width: 100px">Volunteer Committee</th>
    <th style="width: 100px;">Duty Zone</th>
    <th style="width: 100px;">Volunteer Site</th>
    <th style="width: 120px;">Category</a></th>
    <th style="width: 100px">Duty Site</th>
    <th style="width: 200px">Mobile Number</th>
    <th style="width: 50px" sec:authorize="hasAuthority('AUTHORIZER')">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="volunteer : ${page}">
    <td th:text="${volunteer.volunteerName}"/>
    <td><span class="glyphicon glyphicon-ok text-success"
              th:if="${volunteer.isPictureAvailable()}"></span>
      <span class="glyphicon glyphicon-remove text-danger"
            th:unless="${volunteer.isPictureAvailable()}"></span>
    </td>
    <td th:text="${volunteer.volunteerCnic}"/>
    <td th:text="${volunteer.localCouncil}"/>
    <td th:text="${volunteer.volunteerCommittee}"/>
    <td th:text="${volunteer.dutyZone}"/>
    <td th:text="${volunteer.volunteerSite}"/>
    <td th:text="${volunteer.category}"/>
    <td th:text="${volunteer.volunteerSite}"/>
    <td th:text="${volunteer.cellPhone}"/>
    <td sec:authorize="hasAuthority('AUTHORIZER')">
      <a th:unless="${volunteer.volunteerIsPrinted}"
         th:href="@{/volunteer/edit/__${volunteer.id}__}"><span
          class="glyphicon glyphicon-pencil"></span></a>
      <a th:unless="${volunteer.volunteerIsPrinted}"
         th:href="@{/volunteer/delete/__${volunteer.id}__}"
         sec:authorize="hasAuthority('ADMIN')"><span
          class="glyphicon glyphicon-remove danger"></span></a>
      <form id="unprint-form" th:if="${volunteer.volunteerIsPrinted}" class="form-inline"
            th:name="'myform' + ${volunteer.id}" method="post"
            th:action="@{/volunteer/search/__${volunteer.id}__/unprint(name=${param.name},
              cnic=${param.cnic},
              regionalCouncil=${param.regionalCouncil},
              localCouncil=${param.localCouncil},
              day=${param.day},
              zone=${param.zone}
            )}"
            sec:authorize="hasAuthority('ADMIN')">
        <span th:onclick="'document.forms[\'myform'+ ${volunteer.id} +'\'].submit();'"><span
            class="glyphicon glyphicon-refresh"></span></span>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <nav class="pull-right">
      <ul class="pagination" sd:pagination="full">
        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
        <li class="disabled"><a href="#" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-1 dropup pull-right" sd:page-size-selector="dropdown"></div>
</div>

</body>
</html>

