<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'users')}">

<body>

<h2>User</h2>
<form th:object="${user}" class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">
    <input th:replace="~{fragments/passwordField :: input ('Password', 'password')}"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button th:with="text='Update Password'"
          class="btn btn-default" type="submit" th:text="${text}">Add
        User
      </button>
      <a th:href="@{/users}"><span class="btn btn-primary">Cancel</span></a>
    </div>
  </div>
</form>
</body>
</html>
