<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'users')}">

<body>

<h2>Users</h2>
<a th:href="@{/user/new}"><span class="btn btn-default pull-right">Add New User</span></a>
<table id="vets" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 50px;">Id</th>
    <th style="width: 150px;">Username</th>
    <th style="width: 200px;">Authorities</th>
    <th style="width: 120px">Enabled</th>
    <th style="width: 50px;" sec:authorize="hasAuthority('ADMIN')">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${selections}">
    <td th:text="${user.id}"/>
    <td th:text="${user.username}"/>
    <td th:text="${user.authority}"/>
    <!--<td><span th:each="authority : ${user.authority}" th:text="${authority.authority}+','"/></td>-->
    <td th:text="${user.enabled}"/>
    <td sec:authorize="hasAuthority('ADMIN')">
      <a th:href="@{/user/edit/__${user.id}__}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a th:href="@{/user/disable/__${user.id}__}"><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
