<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<body>
<div class="container">
  <div class="content">
    <p th:if="${param.logout}" class="alert">You have been logged out</p>
    <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>


      <form name="form" id="loginForm" th:action="@{/login}" action="/login" method="POST">
          <h2>Login with Username and Password</h2>
          <fieldset>
                <input type="text" class="form-control" name="username" value="" placeholder="Username">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <button type="submit" class="btn btn-default">Login</button>
          </fieldset>
      </form>
  </div>
</div>
</body>
</html>
