<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vehicle')}">

<body>

<h2>Vehicle Registration Form</h2>
<form th:object="${vehicle}" class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">
    <input
        th:replace="~{fragments/inputField :: input ('Driver Name', 'driverName')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Driver CNIC', 'driverCnic')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Driver Mobile', 'driverMobile')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Driver Current Address', 'driverCurrentAddress')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Driver Permanent Address', 'driverPermanentAddress')}"/>

    <input
        th:replace="~{fragments/inputField :: input ('License Details', 'license')}"/>
    <input
        th:replace="~{fragments/dateField :: input ('License Issue Date', 'licenseIssue')}"/>
    <input
        th:replace="~{fragments/dateField :: input ('License Expiry Date', 'licenseExpiry')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Vehicle Registration', 'registration')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Vehicle Chassis Numbe', 'chassisNumber')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Vehicle Engine Number', 'engineNumber')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Vehicle Make', 'make')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Vehicle Model', 'model')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Vehicle Color', 'color')}"/>

    <input
        th:replace="~{fragments/inputField :: input ('Owner Name', 'ownerName')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Owner CNIC', 'ownerCnic')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Owner Mobile', 'ownerMobile')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Owner Current Address', 'ownerCurrentAddress')}"/>
    <input
        th:replace="~{fragments/inputField :: input ('Owner Permanent Address', 'ownerPermanentAddress')}"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
          th:with="text=${vehicle['new']} ? 'Add Vehicle' : 'Update Vehicle'"
          class="btn btn-default" type="submit" th:text="${text}">Add
        Vehicle
      </button>
      <a th:href="@{/vehicle}"><span class="btn btn-primary">Cancel</span></a>
    </div>
  </div>
</form>
</body>
</html>
