<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vehicle')}">

<body>

<h2>Vehicles</h2>
<span class="row">
  <form th:object="${query}" class="form-horizontal" id="Search" method="get">
    <div class="col-sm-8 row">
      <input
          th:replace="~{fragments/searchField :: input ('Query', 'query')}"/>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
    <a th:href="@{/vehicle/new}"><span class="btn btn-default pull-right">Add New Vehicle</span></a>
  </form>
</Span>
<table id="vehicles" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 50px;">Id</th>
    <th style="width: 120px"><a class="sorted" sd:pagination-sort="make">Vehicle Details</a></th>
    <th style="width: 200px;">Owner Name</a></th>
    <th style="width: 120px"><a class="sorted" sd:pagination-sort="cellPhone">Owner Contact</a></th>
    <th style="width: 200px;">Owner CNIC</a></th>
    <th style="width: 120px" sec:authorize="hasAuthority('ADMIN')">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vehicle : ${page}">
    <td th:text="${vehicle.id}"/>
    <td th:text="${vehicle.make + ' ' + vehicle.model + ' ' + vehicle.registration + ' ' + vehicle.color }"/>
    <td th:text="${vehicle.firstname + ' ' + vehicle.fathername + ' ' + vehicle.surname}"/>
    <td th:text="${vehicle.cellPhone}"/>
    <td th:text="${vehicle.cnic}"/>
    <td sec:authorize="hasAuthority('ADMIN')">
      <a th:href="@{/vehicle/edit/__${vehicle.id}__}"><span
          class="glyphicon glyphicon-pencil"></span></a>
      <a th:href="@{/vehicle/delete/__${vehicle.id}__}"><span
          class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <nav class="pull-right">
      <ul class="pagination" sd:pagination="full">
        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
        <li class="disabled"><a href="#" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      </ul>
    </nav>
  </div>
</div>

</body>
</html>

