<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vehicle')}">

<body>

<h2>Vehicle</h2>
<div style="margin-top: 20px;">
  <form th:object="${query}" class="container searchForm" novalidate id="Search" method="get">
      <div class="row">
        <div class="col-md-4 mb-2">
          <input
              th:replace="~{fragments/searchField :: input ('Driver Name', 'driverName')}"/>
        </div>
        <div class="col-md-4 mb-2">
          <input
              th:replace="~{fragments/searchField :: input ('Driver CNIC', 'driverCnic')}"/>
        </div>
        <div class="col-md-4 mb-2">
          <input
              th:replace="~{fragments/searchField :: input ('License Number', 'license')}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <input
              th:replace="~{fragments/searchField :: input ('Registration', 'registration')}"/>
        </div>
        <div class="col-md-4 mb-2">
          <input
              th:replace="~{fragments/searchField :: input ('Make', 'make')}"/>
        </div>
        <div class="col-md-4 mb-2">
          <input
              th:replace="~{fragments/searchField :: input ('Color', 'color')}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <div class="form-group col-sm-2">
            <button class="btn btn-default" type="submit">Search</button>
          </div>
        </div>
      </div>
    <a th:href="@{/vehicle/search/export(driverName=${param.driverName},
      driverCnic=${param.driverCnic},
      license=${param.license},
      registration=${param.registration},
      make=${param.make},
      color=${param.color}
    )}"><span class="btn btn-default btn-margin pull-right">Vehicle File Export</span></a>
  </form>
</div>

<table id="vehicles" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 250px;">Driver Name</a></th>
    <th style="width: 250px;">Driver CNIC</a></th>
    <th style="width: 250px;">License Number</a></th>
    <th style="width: 250px;"><a class="sorted" sd:pagination-sort="registration">Registration Number</a></th>
    <th style="width: 200px"><a class="sorted" sd:pagination-sort="make">Vehicle Make</a></th>
    <th style="width: 120px"><a class="sorted" sd:pagination-sort="color">Color</a></th>
    <th style="width: 50px" sec:authorize="hasAuthority('AUTHORIZER')">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vehicle : ${page}">
    <td th:text="${vehicle.driverName}"/>
    <td th:text="${vehicle.driverCnic}"/>
    <td th:text="${vehicle.license}"/>
    <td th:text="${vehicle.registration}"/>
    <td th:text="${vehicle.make}"/>
    <td th:text="${vehicle.color}"/>
    <td sec:authorize="hasAuthority('AUTHORIZER')">
      <a th:href="@{/vehicle/edit/__${vehicle.id}__}"><span
          class="glyphicon glyphicon-pencil"></span></a>
      <a th:href="@{/vehicle/delete/__${vehicle.id}__}"><span
          class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <nav class="pull-right">
      <ul class="pagination" sd:pagination="full">
        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
        <li class="disabled"><a href="#" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      </ul>
    </nav>
  </div>
</div>

</body>
</html>

